<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>
<body>

    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% data.forEach(function(user){ %> 
        <li> <%= user.Name %> </li>
        <li> <%= user.Passwd %> </li>
        <li> <%= user.Bio %> </li>
        <li> <%= user.Bio %> </li>
        <li> <%= user.Id %> </li>
      <% }) %>
    </ul>
  </body>
</html> -->

<!-- <h1 class="yo"> <%= title %> </h1>   
  <% data.forEach(function(user){ %> 
    <table class="yoo">      
        <tr>
            <th> S NO. </th>
            <th> NAME </th>
            <th> COURSE </th>
            <th> SECTION </th>
            <th> MARKS </th>  
        </tr>
        <tr>
            <td> <%= user.Id %> </td>
            <td><%= user.Name %> </td>
            <td> <%= user.Course %></td>
            <td>  <%= user.Section %> </td>
            <td> <%= user.Marks %> </td>
        </tr>
    </table>
  <% }) %> -->



</body>
</html>

